<h1>Log in</h1>
<p>New to foodeez? <a href="/auth/signup">Sign up</a>.</p>

<form method="POST" action="/auth/login">

  <div class="field" >
    <label>Email</label>
    <input type="text" name="email"/>
  </div>

  <div class="field" >
    <label>Password</label>
    <input type="password" name="password"/>
  </div>

  {{> errorMessages}}

  <div class="field submit">
    <button type="submit">Log in</button>
  </div>
</form>