<div class="wrapper">
  <div class="formlogin">
    <a href="/auth/signup" class="cross"><i class="fas fa-times"></i></a>
    <h1>Register as a restaurant</h1>

    <form method="POST" action="/auth/restaurantSignup">
      <div class="inputs">
        <div class="field">
          <label class="email-password-titles">Restaurant name</label>
          <input class="login-info" type="text" name="restaurantName" />
        </div>

        <div class="field">
          <label class="email-password-titles">Food type</label>
          <input class="login-info" type="text" name="foodType" />
        </div>

        <div class="field">
          <label class="email-password-titles">Email</label>
          <input class="login-info" type="text" name="email" />
        </div>

        <div class="field">
          <label class="email-password-titles">Password</label>
          <input class="login-info" type="password" name="password" />
        </div>

        {{> errorMessages}}

        <div class="field submit">
          <button class="submit-btn" type="submit">Register</button>
        </div>
    </form>
  </div>
</div>