<div class="wrapper">
  <div class="formlogin">
    <a href="/auth/signup" class="cross"><i class="fas fa-times"></i></a>
    <h1>Register as a restaurant</h1>

    <form method="POST" action="/auth/restaurantSignup">
      <div class="inputs">
        <div class="field">
          <label class="email-password-titles">Restaurant name</label>
          <input class="login-info" type="text" name="restaurantName" />
        </div>

        <div class="field">
          <label class="email-password-titles">Food type</label>
          <select name="foodType">
            <optgroup>
              <option value="">--Please choose an option--</option>
              <option value="american">American</option>
              <option value="chinese">Chinese</option>
              <option value="spanish">Spanish</option>
              <option value="indian">Indian</option>
              <option value="italian">Italian</option>
              <option value="japanese">Japanese</option>
              <option value="turkish">Turkish</option>
              <option value="mexican">Mexican</option>
            </optgroup>
          </select>
        </div>

        <div class="field">
          <label class="email-password-titles">Email</label>
          <input class="login-info" type="text" name="email" />
        </div>

        <div class="field">
          <label class="email-password-titles">Password</label>
          <input class="login-info" type="password" name="password" />
        </div>

        {{> errorMessages}}

        <div class="field submit">
          <button class="submit-btn" type="submit">Register</button>
        </div>
    </form>
  </div>
</div>