<h1>Register as a restaurant</h1>

<form method="POST" action="/auth/restaurantSignup">

<div class="field" >
    <label>Restaurant name</label>
    <input type="text" name="restaurantName"/>
  </div>

  <div class="field" >
    <label>Food type</label>
    <input type="text" name="foodType"/>
  </div>

  <div class="field" >
    <label>Email</label>
    <input type="text" name="email"/>
  </div>

  <div class="field" >
    <label>Password</label>
    <input type="password" name="password"/>
  </div>

  <div class="field submit">
    <button type="submit">Register</button>
  </div>
</form>

{{#if messages.length}}
<ul class="validation">
  {{#each messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}