<nav role="navigation">
    
  <div id="menuToggle">
  
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a href="#"><li>My Account</li></a>
      <a href="/orderlist"><li>Order List</li></a>
      <a href="/order"><li>New Order</li></a>
       <form class = "logoutbtn" action="/auth/logout" method="POST">
         <button type="submit">Logout</button>
       </form>
    </ul>
  </div>
  
</nav>