    <nav>
      <nav id="nav-bar">
        <div class="dropdown">
        <a href ="#" class="dropbtn"><input type="text" class="location-input" value="Barcelona"> <i class="fas fa-angle-down"></i></a>
        <div class="dropdown-content">
          <a href="#">Location 1</a>
          <a href="#">Location 2</a>
          <a href="#">Location 3</a>
        </div>
        </div>
      </nav>
      <div class="bottom-nav-bar">
          {{#unless currentUser}}
      <a href="/auth/signup" id="signup-btn">Sign Up</a>
      <a href="/auth/login" id="login-btn">Log In</a>
      {{/unless}}
      </div>
    </nav>
    <img src="images/transparent-foodeez.png" class="logo">
    <script type="text/javascript" src="javascripts/locations.json"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    
  

