
      <nav id="nav-bar">
        <div class="dropdown">
        <a href ="#" class="dropbtn"><input type="text" class="location-input" value="Barcelona"> <i class="fas fa-angle-down"></i></a>
        <div class="dropdown-content">
          <ul class="location-list">
          </ul>
        </div>
        </div>
      </nav>
    <img src="images/transparent-foodeez.png" class="logo">
      <div class="bottom-nav-bar">
          {{#unless currentUser}}
      <a href="/auth/signup" id="signup-btn">Sign Up</a>
      <a href="/auth/login" id="login-btn">Log In</a>
      {{/unless}}
        {{#if currentUser}}
        <a href="/order" id="order-btn">Make New Order</a>
        {{/if}}
      </div>
    <script type="text/javascript" src="javascripts/locations.js"></script>
        <script type="text/javascript" src="javascripts/index.js"></script>
    
  

