{{> customerNavBar}}

<button type="button" id="order-delivered-btn">My order has arrived</button>

<script>
    
document.getElementById("order-delivered-btn").addEventListener("click", function(){
    
const duration = 30 * 1000;
let end = Date.now() + duration;
 
(function frame() {
 //confetti from left edge
  confetti({
    particleCount: 7,
    angle: 60,
    spread: 55,
    origin: { x: 0 }
  });
//confetti from right edge
  confetti({
    particleCount: 7,
    angle: 120,
    spread: 55,
    origin: { x: 1 }
  });
 
  if (Date.now() < end) {
    requestAnimationFrame(frame);
  }
}());
});



</script>