
<div id="order-container">
{{> customerNavBar}}


<h1>Your order is being processed</h1>
<p>Please wait until your order is accepted by a secret restaurant</p>
  <input type="hidden" id="order-id" value="{{order._id}}">
  <h2 id="status"></h2>
  <div id="link-status"></div>
</div>

<div id='map' style='width: 800px; height: 600px;'></div>

<div class="hidden" id="confetti-container">
  <button type="button hidden" id="order-delivered-btn">My order has arrived</button>
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />


<script async defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/order-checking.js"></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiamFja3dhdGsiLCJhIjoiY2pwMWF1bWpqMDFtNDNrbHd1d3pwcHhoNiJ9.TLI7Nks9DAwjQSxDEgRsbQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v10'
});
</script>
<script>
  document.getElementById("order-delivered-btn").addEventListener("click", function () {

    const duration = 30 * 1000;
    let end = Date.now() + duration;

    (function frame() {
      //confetti from left edge
      confetti({
        particleCount: 7,
        angle: 60,
        spread: 55,
        origin: { x: 0 }
      });
      //confetti from right edge
      confetti({
        particleCount: 7,
        angle: 120,
        spread: 55,
        origin: { x: 1 }
      });

      if (Date.now() < end) {
        requestAnimationFrame(frame);
      }
    }());
  });
  
</script>