
<div id="order-container">
<input type="hidden" id="order-id" value="{{order._id}}">
<h1 id="status"></h1>
<div id="link-status"></div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/order-checking.js"></script>
