html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts 

For body: font-family: 'Niramit', sans-serif;
For headers: font-family: 'Righteous', cursive;

*/

h1, h2, h3, p { 
  font-family: 'Righteous', cursive;
}


body {
  padding: 50px;
  font: 14px 'Niramit', sans-serif;
  background-color: #ffc244;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
.dropdown-content ul {
  /*for search bar*/
  list-style: none;
  padding: 0px;
  border-top: 0.5px solid #00000052;
}

.logoutbtn button {
  color: #00B7FF;
  text-decoration: none;
  background: none;
  padding: 10px 0;
  font-size: 22px;
  border: 0px;
}

a:hover {
  color: #08b9ff80;
}
h1, p{
  text-align: center;
}
/* Nav bar home page */

#nav-bar {
  color: #000;
    border-top: 12px solid #00808b;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 15px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.07), 0 0 0 0 rgba(0,0,0,.07);
  
  
}

#nav-bar i{
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-content {
 
  position: relative;
  background-color: #fff;
  min-width: 260px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 2px;
  margin: 0;
  
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.location-input{
  border: 0px;
    padding: 6px;
    text-align: center;
    font-size: 28px;
    font-family: 'Righteous', cursive;
    color: #00828d;
}
.location-list li:hover {
  background-color: #00828d;
  color: white;
}
/*
.dropdown:hover .dropdown-content {
    display: block;
    width:100%;
}
*/

.blue {
  background-color: blue;
}

.menuToggle {
  display: block;
    width:100%;
}
.dropdown:hover .dropbtn {
    color:#08b9ff80;
}

.dropbtn {
  width: 100%;
}

/* Logo */

.logo {
  width: 89%;
  z-index: 0;
}

/* Bottom nav bar */
.bottom-nav-bar {
  padding: 6%;
  margin: auto;
  width: 85%;
}

#signup-btn {
  font-size: 23px;
  border-radius: 10px;
  background-color: #177e89;
  padding: 10px 20px;
  float: left;
  
 
}

#login-btn {
  font-size: 23px;
    border-radius: 10px;
    background-color: #177e89;
    padding: 10px 20px;
    float: right;
   
  
}

/*---- 404 styles ----*/

.dropped-image{
  max-width: 75%;
  text-align: center;
}
/*
.not-found-container{

}
*/
.not-found-container h1 {
  text-align: center;
    position: relative;
    display: inline;
    top: 96px;
    font-size: 10vw;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #ffc000;
}

/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}
/*attempting cool css for form lines*/
form input {
  padding: 5px;
  font-size: 16px;
  border: white;
  border-bottom: solid 1px black;
}
form input {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #27afdc;
  cursor: pointer;
}
.form {
  display: flex;
  justify-content: center;
}
form .validation {
  margin: 5px 0 10px;
  color: red;
}

form .field.has-error label {
	color: red;
}
form .field.has-error input {
	border: 1px solid  red;
}

/* Log in pages */

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.formlogin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

#id {
  margin-bottom: 30px;
}

.submit-btn {
  
  font-size: 20px;
  border-radius: 10px;
  background-color: #177e89;
  padding: 10px 10px;
  width: 100%;
}

.submit-btn:hover {
  color: #08b9ff80;
}

.inputs {
  margin-bottom: 30px;
}

.login-info{
  
    height: 48px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    caret-color: #00CCBC;
    padding: 12px 16px;
    border: 1px solid #bac3c3;
    border-radius: 3px;
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.05), inset 0 0 0 100px #fff;
    transition-property: box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    width: 100%;
    margin-bottom: 8px;
}

.email-password-titles {
  color: #828585;
  font-size: 14px;
  line-height: 19px;
  display: block;
  padding-bottom: 8px;
}


.cross {
  float: right;
  margin-top: 15px;
}

/* Burger navbar for customer */

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #0000008c;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #5d6560cf;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.validation {
  list-style-type: none;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px); /* 20px to the left */
}


.canvas{
  width: 300px;
  height: 100px;
  border: 3px double #463838b8;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #e6e6dd40;
  clear: both;
}

ul.order-list {
  list-style-type: none;
}
.order-list ul {
  list-style-type: none;
}