html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffc244;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #08b9ff80;
}

/* Nav bar home page */

#nav-bar {
  float: center;
  color: #000;
  text-align: center;
  padding: 10px 0px;
  background-color: #fff;
  text-decoration: none;
  font-size: 30px;
  width: 100%;
  box-shadow: 2px 2px 20px 0px #0000005e;
  
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 2px;
  margin: 0;
  
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/*
.dropdown:hover .dropdown-content {
    display: block;
    width:100%;
}
*/

.blue {
  background-color: blue;
}

.menuToggle {
  display: block;
    width:100%;
}
.dropdown:hover .dropbtn {
    color:#08b9ff80;
}

.dropbtn {
  width: 100%;
}

/* Logo */

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

/* Bottom nav bar */
.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

#signup-btn {
  margin: 20px 20px;
  font-size: 40px;
  border-radius: 10px;
  background-color: #177e89;
  padding: 10px 20px;
  
 
}

#login-btn {
  margin: 20px 20px;
  font-size: 40px;
  border-radius: 10px;
  background-color: #177e89;
  padding: 10px 20px;
  
}

/* Error images */

.client-error-image {
  width:100%;
}

.server-error-image {
  width:100%;
}

/* Log in pages */

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.formlogin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

#id {
  margin-bottom: 30px;
}

.submit-btn {
  
  font-size: 20px;
  border-radius: 10px;
  background-color: #177e89;
  padding: 10px 10px;
  width: 100%;
}

.submit-btn:hover {
  color: #08b9ff80;
}

.inputs {
  margin-bottom: 30px;
}

.login-info{
  
    height: 48px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    caret-color: #00CCBC;
    padding: 12px 16px;
    border: 1px solid #bac3c3;
    border-radius: 3px;
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.05), inset 0 0 0 100px #fff;
    transition-property: box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    width: 100%;
    margin-bottom: 8px;
}

.email-password-titles {
  color: #828585;
  font-size: 14px;
  line-height: 19px;
  display: block;
  padding-bottom: 8px;
}

.cross {
  float: right;
  margin-top: 15px;
}